.button {
    --bg: var(--theme-primary-bg);
    --bg-hover: var(--theme-primary-bg-hover);
    --color: var(--theme-primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    background-color: var(--bg);
    border: 0.1rem solid var(--border);
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
        background-color: var(--bg-hover);
    }
}
