.suggestions__vertical {
    display: block;
}

.suggestions__horizontal {
    display: none;
    overflow-x: scroll;
}

@container layout (max-width: 1200px) {
    .suggestions__vertical {
        display: none;
    }

    .suggestions__horizontal {
        display: block;
    }
}
