.container {
    --color: var(--theme-primary-color);
    --color-extra: var(--theme-primary-color-extra);

    height: 100%;
    width: 100%;
    min-width: 30rem;
    max-width: 40rem;
    display: flex;
    gap: 0.8rem;
    cursor: pointer;
}

.info {
    min-width: 20rem;
    display: flex;
    gap: 0.8rem;
}

.info__name {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color);
}

.info__username,
.info__stats {
    margin-top: 0.4rem;
    font-size: 1.4rem;
    color: var(--color-extra);
}

.info__username {
    &:hover {
        color: var(--color);
    }
}

.preview {
    aspect-ratio: 16 / 9;
    border-radius: 1.4rem;
    overflow: hidden;
}
