$min-elem-width: 30rem;
$max-elem-width: 40rem;

.gallery {
    container-name: gallery;
    container-type: inline-size;

    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery__videos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min-elem-width, 1fr));
    justify-content: center;
    gap: 5rem 1rem;
}

@container gallery (max-width: 1245px) {
    .gallery__videos {
        grid-template-columns: repeat(
            3,
            minmax($min-elem-width, $max-elem-width)
        );
    }
}

@container gallery (max-width: 935px) {
    .gallery__videos {
        grid-template-columns: repeat(
            2,
            minmax($min-elem-width, $max-elem-width)
        );
    }
}

@container gallery (max-width: 625px) {
    .gallery__videos {
        grid-template-columns: 40rem;
    }
}
