.container {
    height: calc(100vh - 5.6rem);
    position: sticky;
    top: 5.6rem;
    z-index: 10;
}

.sidebar {
    height: 100%;
    background-color: var(--theme-primary-bg);
    transition: width 0.2s, padding 0.2s;
}

.sidebar--full {
    width: 24rem;
    padding: 0.5rem 1rem;
}

.sidebar--mini {
    width: 10rem;
    padding: 0.5rem 0;
}

.sidebar__item--mini {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.sidebar__static {
    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.sidebar__dynamic {
    position: absolute;
    transition: left 0.1s;

    @media screen and (min-width: 1000px) {
        display: none;
    }
}

.sidebar__dynamic--open {
    left: 0;
}

.sidebar__dynamic--close {
    left: -24rem;
}
