.button {
    --bg: var(--theme-primary-bg);
    --bg-hover: var(--theme-primary-bg-hover);
    --color: var(--theme-primary-color);
    --border: var(--theme-primary-border);

    height: 3.6rem;
    padding: 0 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    background-color: var(--bg);
    border: 0.1rem solid var(--border);
    border-radius: 2rem;
    transition: 0.2s;

    &:hover {
        background-color: var(--bg-hover);
    }
}
